* {
  box-sizing: border-box;
}

body {
  background-image: url("/assets/Wallpaper.jpg");
  /* background-position: center; */
  background-repeat: no-repeat;
  font-family: "poppin";
}

.container {
  max-width: 50%;
  margin: -20px auto;
  padding: 0px;
  background-color: #0d0d0d;
  border-left: 20px solid white;
  /* border-right: 20px solid white; */
  height: 1200px;
  text-align: center;
}

button{
  width: 15%;
  height: 70px;
  margin-bottom: 4px;
  font-size: 30px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid white;
  font-weight: bold;
  color: white;
  background: black;
  cursor: pointer;
}

#addToCartOne {
  width: 20px;
}

#cart {
  width: 91%;
  height: 45px;
  border: 0.5px solid lightgray;
  border-radius: 100px;
}

#cart:hover {
  background: black;
  cursor: cell;
}

.EQ {
  color: orange;
}

.EQ:hover {
  border-left: 10px solid yellow;
  background: orange;
}

#pay {
  width: 77.3%;
  color: rgb(159, 255, 214);
}

#pay:hover {
  background: lightblue;
  border-left: 10px solid lightcoral;
  color: white;
}

button:hover {
  background-color: lightpink;
  transition-duration: 0.3s;
  color: white;
  font-weight: bolder;
  border-left: 10px solid rgb(159, 255, 214);
}

.specialBtn {
  color: #bfff80;
}

.specialBtn:hover {
  background-color: rgb(167, 238, 201);
  border-left: 10px solid rgb(113, 102, 230);
}

#logo {
  width: 90%;
}

.line {
  width: 400px;
  height: 10px;
  max-width: 60%;
  background: white;
  margin: auto;
  border-radius: 100px;
  position: relative;
}

#line1 {
  background: rgb(159, 255, 214);
}

#line2 {
  background: lightcoral;
}

#pay span {
  display: inline-block;
  position: relative;
  transition: 0.3s;
  font-size: 20px;
}

#pay span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  /* transition: 0.2s; */
}

#pay:hover span {
  padding-right: 25px;
}

#pay:hover span:after {
  opacity: 1;
  right: 0;
}

.screen {
  width: 45%;
  height: 30px;
  font-size: 38px;
  padding: 20px;
  text-align: right;
  background: black;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 3px solid white;
  border-right: 3px solid white;
  color: white;
  margin: -2px;
}

#calcScreen {
  width: 90%;
}

#calcInputs {
  width: 90%;
}

#modal {
  position: fixed;
  top: 5%;
  left: 20%;
  height: 90%;
  width: 60%;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8)
}

#close {
  width: 40px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}

.slider {
  width: 500px;
  height: 500px;
  display: flex;
  overflow-x: auto;
  margin: 0px auto;
}

.slide {
  padding: 5px;
}

.shoe {
  width: 490px;
  height: 470px;
  border: 1px solid mediumspringgreen;
}

/*Scroll Bar CSS*/
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: black; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: salmon; 
  border-radius: 100px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lightgreen; 
}

select {
  background: black;
  color: white;
  width: 200px;
  height: 30px;
  padding-left: 10px;
  position: relative;
  -webkit-appearance: none;
  -webkit-border-radius: 20px;
  -webkit-text-stroke: center;
}

#og {
  width: 59px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

#Change {
  color: lightgreen;
}




